<form action='/register' method='get'>
  <input type='submit' name='register' value='Create New Account'>
</form>

<form id="login-form" action='/sessions' method='post'>
  <input type='text' name='email' placeholder='Email'>
  <input type='password' name='password' placeholder='Password'>
  <input type='submit' name='log_in' value='Log In'>
</form>
