<div id="register-flex-container">
  <form action='/register' method='post'>
    <div>
      <input type='text' name='first_name' placeholder='First name' required>
      <input type='text' name='last_name' placeholder='Last name' required>
    </div>
    <div>
    <input type='text' name='email' placeholder='Email' required>
    <input type='password' name='password' placeholder='Password' minlength="8" required>
    </div>
    <div class="flex-container">
      <input type='submit' name='register' value='Sign Up'>
    </div>
  </form>
</div>