<div class="homepage-container">
  <a>
    <img src="jake-hinds.jpg" alt="A house under the stars">
  </a>
  <div id="welcome">
    <h1>Not sure where to go? Perfect.</h1>
  </div>
  <div class="flex-btn">
    <a href="/spaces">I'm flexible</a>
  </div>
</div>

