<div class="homepage-container">
  <a>
    <img src="cloris-ying.jpg" alt="A house under the stars">
  </a>
  <div id="welcome">
    <% if session[:user] %>
    <h1>Welcome<%=", #{session[:user].first_name}!"%></h1>
    <% end %>
    <h1>Not sure where to go? Perfect.</h1>
  </div>
  <div class="flex-btn">
    <a href="/spaces">I'm flexible</a>
  </div>
</div>

