<center>
  <h1> List a Space </h1>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <form action = "/spaces/new" method = "post">
  Description <br/>
  <input type = "text" name = "description" required>
  <br/>Location <br/>
  <input type = "text" name = "Location" required>
  <br/>Price <br/>
  <input type = "text" name = "Price" required>
  <br/>
  <input type = "submit" name = "Submit" value = "List my Space">

  </form>

<center>