<center>
  <h1> List a Space </h1>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <form action = "/spaces/new" method = "post" style="color:white">
  Description <br/>
  <input type = "text" name = "description" required>
  <br/>Location <br/>
  <input type = "text" name = "location" required>
  <br/>Price <br/>
  <input type = "text" name = "price" required>
  <br/>Available from <br/>
  <input type ="date" name ="available_from" value="2020-12-17"
       min="2020-12-17" max="2022-12-17">
   <br/>Available to <br/>
  <input type ="date" name ="available_to" value="2020-12-18"
       min="2020-12-18" max="2022-12-17">
   <br/>
  <input type = "submit" name = "Submit" value = "List my Space">

  </form>

<center>