<h1> Requests</h1>

<h3>
  Requests I've made
  
  
</h3>

<ul>
<% @requests_made.each do |request| %>
<li>
    <%= request.space(id: request.space_id).location%>
</li>
    <% end %>
</ul>

<h3>Requests I've received </h3>

<ul>
<% @received_requests.each do |request| %>
<li>
    Request for <%= request.space(id: request.space_id).description%>
</li>
    <% end %>
</ul>