<h1> Requests</h1>

<h3>
  Requests I've made
  
  
</h3>

<ul>
<% @spaces.each do |space| %>
<li>
    <%= space.location%>
</li>
    <% end %>
</ul>

<h3>Requests I've received </h3>

@requests.received