<div id="space-list" class="flex-container">
<div id="booking-header">
  <h1> Book a space </h1>
  <a href="/spaces/new">List a space</a>
</div>

  <% @spaces.each do |space| %>
    <div>
      <div>
        <%= space.host_id %>
      </div>
      <div>
        <%= space.location %>
      </div>
      <div>
        <%= space.price %>
      </div>
      <div>
        <form method="get" action="/spaces/<%=space.id%>/book">
          <button type="submit">Book</button>
        </form>
      </div>

    </div>
  
  <% end %>
</div>



